/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-dic-2020, 18:59:25
    Author     : Luis
*/
.ventana_principal{
    -fx-background-color: AliceBlue;   
}

.boton_nuevo {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.boton_nuevo:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}