/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-dic-2020, 18:59:25
    Author     : Luis
*/
.ventana_principal{
    -fx-background-color:SteelBlue;   
}




.boton_nuevo{
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#00d2ff, #3a7bd5);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.boton_nuevo:hover {
    -fx-background-color: linear-gradient(#3a7bd5, #00d2ff);
}




.boton_eliminar{
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#ff9966, #ff5e62);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.boton_eliminar:hover {
    -fx-background-color: linear-gradient(#ff5e62, #ff9966);
}




.boton_confirmar{
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#93F9B9, #1D976C);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.boton_confirmar:hover {
    -fx-background-color: linear-gradient(#1D976C, #93F9B9);
}




.boton_cancelar{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#ffffff, #abbaab);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.boton_cancelar:hover {
    -fx-background-color: linear-gradient(#abbaab, #ffffff);
}

.combo{
    -fx-background-color: linear-gradient(#ffffff,#eaeaea);
}

.combo:hover{
     -fx-background-color: linear-gradient(#eaeaea,#ffffff);  
}

.tabla{
    -fx-font-size: 14;   
}